<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>URL Shortener</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" />

	<script type="text/javascript" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-full">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1>URL 404</h1>
			<p class="lead">A front-end example page to display date since URL is offline</p>
			<br />
			<div class="panel panel-default">
                <div class="panel-heading">
                	<h3><a th:href="${uri}" th:text="${uri}"></a></h3>
               	</div>
                <div class="panel-body">
                    <ul class='list-group'>
                        <li class="list-group-item"><strong>Offline since:</strong> <span th:text="${date}"></span></li>
                        <li class="list-group-item"><strong>Target URL:</strong> <a th:href="${target}" th:text="${target}"></a></li>
                    </ul>
                </div>
            </div>
			<br />
			<form class="col-lg-12" role="form" id="shortener" action="/">
				<div class="input-group input-group-lg col-sm-offset-4 col-sm-4">			
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" type="submit">Go to index</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>